{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Your Bizz</title>
    <!-- Link to Css-->
    <link href="{% static '../static/css/style.css' %}" rel="stylesheet" />
</head>
<body>

    <!---Header -->
    <header>
        <!-- Nav -->
        <div class="nav container">
         <!-- Logo -->
         <a href="#" class="logo">Start <span>Your</span> Bizz</a>
        </div>
    </header>

    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">The Small Business Blog</h2>
            <span class="home-subtitle">How to record the business books</span>
        </div>
    </section>
    
    <div class="post-filter container">
        <li class="filter-item" data-filter="all"><a href="{% url 'frontpage' %}"><span>Home</span></a></li> 
        <li class="filter-item" data-filter="entrepreneur"><a href="{% url 'entrepreneurship' %}"><span>Entrepreneurship</span</a></li>
       
        <li class="filter-item active-filter" data-filter="finance"><a href="{% url 'finance' %}">Finance</a></li>
    </div>

    <section class="post container">
        {% for finance in buying %}
        <div class="post-box finance">
            <img src="{{finance.image.url}}" alt="" class="post-img">
            <h2 class="category">{{finance.category}}</h2>
            <a href="{% url 'show' finance.slug %}" class="post-title">{{finance.header}}</a>
            <span class="post-date">Posted on {{finance.Create_at}}</span>
            <p class="post-description">{{finance.body | slice:':200'}} ....</p>
        </div>
        {% endfor %}
    </section>

    <!-- Footer -->
    <div class="footer container">
        <p>&#169; Mtivos All Right Reserved</p>
        <div class="social">
            <a href="#"><i class="fa-fa facebook"></i></a>
            <a href="#"><i class="fa-fa tweter"></i></a>
            <a href="#"><i class="fa-fa instagram"></i></a>
        </div>
    </div>
    
    <!--- Link to Js-->
    <script src="{% static '../static/js/main.js' %}"></script>
</body>
</html>